<br>

<h1 style="text-align: center;"><font size="15">Voting Begins Here</font></h1>

<p>    </p>

{% if latest_question_list %}
    <ul style="font-family: Georgia">
    {% for question in latest_question_list %}
        <li ><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <br><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
 <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

