<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	
		{% block head %}{% endblock %}
	</head>
	
	<body >
		<header style="background-color: rgb(255, 230, 204); padding-top: 100px; padding-bottom: 80px; border: solid;">
			<div style="background-color: rgb(217, 255, 204); padding-top: 20px; padding-bottom: 30px;">
				<h1 style="text-align: center; ">Operation Panel</h1>
			</div>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>