h1{
	text-align:center;
  padding: 100px;
  text-align: center;
  background: #e6e600;
  color: red;
  font-size: 70px;
}
li a {
    color: red;
    
}
p{
	background:  #b32400;
}
li {
	border:  outset;
	text-align:center;
	font-size: 10px;
	padding: 60px;
	background: #1abc9c;
	font-size: 20px;
}
body {
    background: white url("images/Blue-Texture-Background-Photos.jpg") no-repeat;
}
.header {
  text-align:center;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: red;
  font-size: 30px;

}
